button{
    background-color: #71717b;
    width: 70px;
    height: 70px;
    transition: background-color ease-in 300ms;
    border-radius: 100%;
}
button:hover{
    background-color: #9f9fa9;
    cursor: pointer;
}